.link {
    padding: 10px 13px;

    a {
        font-size: 14px;
        text-transform: uppercase;
        color: #444444;
    }
}

.hover {
    background-color: #1bbc9b;

    a {
        color: #fff;
    }
}