.myBtn {
    padding: 10px 13px;
    border: 0;
    font-size: 13px;
    font-weight: 700;
    background-color: #1bbc9b;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: #16a086;
    }
}